# Basura de R / RStudio
.Rhistory
.Rproj.user/
.RData
.Ruserdata
*.Rproj

# renv (dejamos renv.lock, ignoramos librerías locales)
renv/staging/
renv/library/

# NUNCA subir tokens/ids de deploy
rsconnect/

# OS/editor
.DS_Store
Thumbs.db
